.Into {
    margin: 70px 80px 0px 100px;
    font-weight: 700;
    font-size: 58px;
    line-height: 70px;
    display: flex;
    align-items: center;
    color: #42446E;
}
.MainAvatar{
    margin: 120px 0px 0px 59px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
}