.section_2{
    font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 60px;

color: #21243D;
margin-top: 50px;

}

.section2_h1{
    margin-top: 10px;
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 44px;
/* identical to box height */


/* Dark Color */

color: #21243D;
text-align:left;
}

.section2_img{
    background: blue;
}

.section2_div{
    display: flex;
}