section{
     /* background: #EDF7FA;  Samanda aka iltimos shuni yoqmay turing bixga salbiy tasir korsatyabdi */
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.Card{
    margin-top: 10px;
background-color: white;
width: 450px;
}
.section_text{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    font-family: 'Heebo';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 38px;
color: #21243D;
}

.data{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    margin-left: 20px;
}

.P_Text{
padding-bottom: 30px;
font-family: 'Heebo';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #21243D;
margin-left: 20px;

}

.recent{
  padding-top: 15px; 
  padding-bottom: 20px;
}

.line{
    border-left: 1px solid black;
    margin-left: 15px;
    height: 30px;
}




@media(max-width:575px){
    section {
        background: #EDF7FA;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    .recent {
        padding-top: 5px;
        padding-bottom: 2px;
        text-align: center;
    }
    .Card {
        margin-top: 0px;
        background-color: white;
        width: 340px;
    }

    .section_text {
        padding-top: 8px;
        padding-bottom: 5px;
        margin-left: 20px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 27px;
        color: #21243D;
    }
    .P_Text {
        padding-bottom: 17px;
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: #21243D;
        margin-left: 0px;
        text-align: center;
    }
}