.ule {
    list-style: none;
    display: flex;
    margin-left: 300px;
    margin-top: -50px;
}

.ili {
    padding-left: 50px;
}

.firstimg {
    margin-top: 50px;
}

.git {
    margin-left: 950px;
    margin-top: -90px;
}

.hash {
    margin-top: 200px;
    margin-right: 400px;
    margin-left: 50px;
    color: #42446E;
}

.danil{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-left: 750px;
    margin-top: -200px;
}