.Phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #42446E;
    margin-top: 7px;

}

.email {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #42446E;
    margin-top: 7px;
}

