.icons {
    gap: 30px;
    text-align: center;
}

.copy{
    margin-right: 90px;
margin-top: 15px;
font-family: 'Heebo';
font-size: 20px;
color: #21243D;
}


@media screen and (max-width:1024px){
    .icons {
        text-align: center;
        font-size: 10px;
    }
    #git {
        font-size: 20px;
    }
    .copy{
        margin-right: -30px;
    margin-top: 15px;
    }
    .gap{
        margin-left:130px;
    }
}
@media screen and (max-width:576px){
    .icons {
        text-align: center;
        font-size: 5px;   
    }
    #git {
        font-size: 20px;
        margin-left: -50px;
    }
    .copy{
        margin-right: -1px;
    margin-top: 5px;
    }
    .gap{
        margin-left:130px;
    }
}