.icons {
    gap: 330px;
    display: flex;
    margin: auto;
}

.copy{
margin-top: 65px;
font-family: 'Heebo';
font-size: 20px;
color: #21243D;
margin-left: 780px;
gap: 40px;

}
.gap{
margin-left: 740px;
position: absolute;
}

@media screen and (max-width:1024px){
    .icons {
        text-align: center;
        font-size: 10px;
        position: absolute;
        margin-left: 140px;
    }
    #git {
        font-size: 20px;
    }
    .copy{
    margin-top: 65px; 
    display: flex;
    margin-left: -40px;


    }
    .gap{
        /* margin-left:-390px; */
        display: flex;
    }
}
@media screen and (max-width:576px){
    .icons {
        text-align: center;
        font-size: 5px;
    }
    #git {
        font-size: 20px;
        margin-left: -50px;
    }
    .copy{
        margin-right: -45px;
    }
    .gap{
        margin-left:53px;
    }
}