.CardBox{
display: flex;
gap: 20px;
}

.CardName{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
}

.miniBox{
display: flex;
gap: 20px;
padding-bottom: 10px;
}

.dataName{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;

    background: #142850;
    border-radius: 16px;
    padding: 5px;
}

.miniName{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.CardText{
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}

hr{
    padding-bottom: 20px;
}








@media(max-width:575px){

    .CardBox {
        gap: 20px;
        display: flow-root;
        text-align: center;
        margin-right: -100px;
    }
    .CardName {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 36px;
        color: #21243D;
    }
    .miniBox {
        display: flex;
        gap: 20px;
        padding-bottom: 0px;
        padding-left: 81px;
    }
    .dataName {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 800;
        font-size: 13px;
        color: #FFFFFF;
        background: #142850;
        border-radius: 9px;
        padding: 5px;
    }
    .miniName {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 29px;
        color: #8695A4;
    }
    .CardText {
        font-family: 'Heebo';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #21243D;
    }
    hr {
        padding-bottom: 5px;
    }

}