.fav{
    margin-top: 100px;
    margin-left: 550px;
    color: #42446E;
}

.buil{
    margin-left: 540px;
    color: #666666;
}


.cars{
    margin-top: 60px;
    margin-left: 60px;
}

.ca{
    margin-top: 60px;
    margin-left: 50px;
    
}


.lg{
    margin-top: 200px;
    margin-left: 50px;
}

.ohiri{
    list-style: none;
    display: flex;
    margin-left: 550px;
    margin-top: -50px;
}

.numbers{
    padding-left: 40px;
}

.tyu{
    margin-left: 990px;
    margin-top: -90px;
}

.bro{
    list-style: none;
    display: flex;
    margin-top: 50px;
}

.ohir{
    padding-left: 30px;
}

.dn{
    list-style: none;
    margin-left: 750px;
    margin-top: -40px;
}