.hi {
  margin-top: 150px;
}
.myName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  align-items: center;
  letter-spacing: -1px;
  color: #42446e;
}
span {
  color: rgb(72, 205, 250);
}
.img1 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.my {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  color: #42446e;
  padding-top: 300px;
}

.teach {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  text-align: center;
  color: #666666;
  padding-bottom: 140px;
}
.list_item {
  padding-left: 220px;
}
.images {
  width: 90px;
  height: 105px;
  margin-bottom: 200px;
}
.project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  color: #42446e;
}
.thing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  text-align: center;
  color: #666666;
  padding-bottom: 95px;
}
