
.myName {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 47px;
  align-items: center;
  letter-spacing: -1px;
  color: #42446e;
}
span {
  color: rgb(72, 205, 250);
}
.img1 {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.my {
  text-align: center;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  color: #42446e;
  padding-top: 300px;
}

.teach {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  text-align: center;
  color: #666666;
  padding-bottom: 140px;
}

.images {
  width: 90px;
  height: 105px;
  margin-bottom: 200px;
}
.project {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  align-items: center;
  text-align: center;
  color: #42446e;
}
.thing {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  align-items: center;
  text-align: center;
  color: #666666;
  padding-bottom: 95px;
}

.bigBox1 {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: right;
  color: #000000;
}
.hi {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  text-align: right;
  color: #000000;
}
.Creative {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  color: #21243d;
  padding-top: 200px;
}

.bigger {
  margin-top: 200px;
}

.next {
  padding-top: 200px;
}

.recent {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  align-items: flex-end;
  color: #21243d;
}

.all {
  font-family: "Heebo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #00a8cc;
}

.stsrt{
  margin-bottom: 100px;
}


@media screen and (max-width: 576) {
  


}