.ul_list{
    display: flex;
    gap: 50px;
}
.list_item{
    list-style: none;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    color: #666666;
    margin: 10px 0px 0px 40px;
    
}
.icons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
 