.Tools-Info {
    margin: 200px 0px 0px 450px;
}

.Tech-Stack {
    padding: 0px 0px 30px 50px;
    font-weight: 700;
    font-size: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #42446E;
}

.Working-With {
    margin: 0px 0px 100px 350px;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #666666;
}
.Main-Tools{
    margin-left: 70px;
}