*{
    margin: 0;
    padding: 0;
}

.bacbluu{
    padding-top: 20px;
    background: #EDF7FA;
    margin-top: 130px;
    margin-bottom: 50px;

}



.gado{
    margin-left: 200px;
    margin-bottom: 50px;
}

.al{
    color: #00A8CC;
    margin-left: 400px;
}

/* .pos{
    margin-left: 30px;
} */

.amet{
    margin-top: -100px;
    margin-right: 80px;
}