*{
    margin: 0;
    padding: 0;
}

.bacbluu{
    padding-top: 20px;
    background: #EDF7FA;
    margin-top: 130px;
    margin-bottom: 50px;
}

.card{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 60px;
}

.cad{
    margin-top: 40px;
    margin-left: 60px;
    margin-bottom: 50px;
}

.al{
    color: #00A8CC;
    margin-left: 400px;
}

.pos{
    margin-left: 70px;
}