.navoi {
    width: 203px;
    border-radius: 48px 40px 40px 40px ;
    height: 207px;
    margin-left: 53px;
    margin-top: 39px;
    background: #FFFFFF;
    box-shadow: -8px 10px 30px rgba(0, 0, 0, 0.05);
    transition: 1s;
    text-align: center;
    padding-top: 34px;
    
}
.ali {
    font-weight: 700;
    font-size: 44px;
    line-height: 130%;
    color: #051101;
}
.grid{
    display: flex;
  }