.Tools {
    margin: 100px 0px 0px 400px;
}

.Tech {
    margin: 0px 300px 30px 150px;
    font-weight: 700;
    font-size: 38px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #42446E;
}

.Working {
    margin: 0px 300px 50px 70px;
    font-weight: 400;
    font-size: 32px;
    line-height: 26px;
    color: #666666;
}